body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-wrap {
  max-width: 500px;
  margin: 0 auto;
}

.description {
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
  background: lightblue;
}

.todo-li:hover {
  cursor: pointer;
  background: lightgrey;
}

.todo-wrap {
  display: flex;
  justify-content: space-between;
}

.todo-list {
  max-width: 150px;
  /* background: lightcoral; */
}

.add-todo-wrap {
  /* background: lightgrey; */
  margin-top: 15px;
}

.add-todo-wrap form {
  display: flex;  
  width: 250px;
  /* background: aliceblue; */
  justify-content: space-between;
}

.add-todo-wrap form input {
  width: 162px;
}

.filter-todos-wrap {
  /* background: lightskyblue; */
  margin-top: 15px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.filter-todos-wrap span {
  font-size: 14px;
  font-weight: 600;
}